@import url('https://fonts.googleapis.com/css?family=Catamaran');

h2,h4,body{
    font-family: 'Catamaran', sans-serif !important;
}

body{
    background-color: #fff !important;
}

h4{
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #206e99;
}

.btn-primary{
    color: #ffffff;
    background-color: #206e99;
    text-transform: uppercase;
}
.btn-primary:hover {
    border: none;
}

h3,h4,h5,label{
    color: #000;
}
hr{
    border-top: 1px solid #000;
}
option{
    color: #6A6A6A;
}
a{
    color: #F7C53F;
}
/*a:active, a:focus, a:hover {*/
    /*color: #F7C53F;*/
/*}*/
#btnDocumentoFrente_PessoaJuridica img{
    margin-top: 18%;
}

.modal-footer {
    border-top: 1px solid #000 !important;
}
.modal .modal-header {
    border-bottom: 1px solid #000 !important;
}
.text-escuro-white{
    color: #969696 !important;
}
.alert{
    border-radius: 5px !important;
}
.select2{
    width: 100% !important;
}
.icheck, .icheck-colors, .icheck-inline {
    z-index: 9001;
}
.btn-radius-top{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.div-sub-categorias{
    border: 1px #fff solid;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.btn-cadastro-altura{
    height: 48px !important;
    box-shadow: none !important;
    font-size: 16px !important;
}
.espaco-controlado-fileinput{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.bg-dark {
    background: #404040  !important;
}
#DocumentoFrente_PessoaFisica, #btnEsconderPessoaFisica, #DocumentoVerso_PessoaFisica{
    display: none;
}
#btnDocumentoFrentePessoaFisica, #btnDocumentoVersoPessoaFisica, #DocumentoFrente_PessoaJuridica, #btnDocumentoFrente_PessoaJuridica{
    border-radius: 5px !important;
    background-color: #313131  !important;
    border: 1px solid #313131  !important;
}
.margin-right-20{
    margin-right: 20px;
}
.no-padding{
    padding: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}
.panel-refresh-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFF;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    z-index: 3;
    font-size: 21px;
}
.panel-refresh-layer img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}
.panel-body {
    padding: 0px;
}
#senha_error{
    color: #F7C53F;
}
.text-white{
    color: #fff;
}
.text-preto{
    color: #2D2D2D;
}
.text-red{
    color: red;
}
.input-error{
    border: 1px solid red !important;
}
.btn-sem-bordar {
    border-color: #fff !important;
}

.div-plano{
    background-color: #6A6A6A ;
    border: none !important;
    box-shadow: 5px 5px 5px #2D2D2D;
}

.plano-radius{
    border-radius: 5px !important;
    margin-bottom: 0px;
}
.plano-radius-content{
    /*border-bottom-left-radius: 5px !important;*/
    /*border-bottom-right-radius: 5px !important;*/
}

.profile-userpic div {
    background-color: #F7C53F;
    height: 100px;
    width: 100px;
    float: none;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-usermenu{
    background-color: #fff;
    margin-top: 0px;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.div-plano-nao-selecionado{
    opacity: 0.6;
}
.step-selected{
    border: 9px solid #B93B3B!important;
    background-color: #fff!important;
}
.item-plano{
    color: #6A6A6A !important;
}
.btn-link{
    color: #2D2D2D !important;
}
.bg-green{
    color: #fff !important;
    background-color: #26C281 !important;
}
.mt-element-step .step-line .done .mt-step-number {
    color: #B93B3B !important;
    border-color: #B93B3B!important;
    background-color: #B93B3B !important;
}
.bg-done {
    color: #B93B3B !important;
    background-color: #B93B3B !important;
}
.mt-element-step .step-line .done .mt-step-title::after, .mt-element-step .step-line .done .mt-step-title::before {
    /*background-color: #B93B3B !important;*/
    background-color: #206e99 !important;
}
.step-line .set-amarelo.mt-step-title::before {
    /*background-color: #B93B3B !important;*/
    background-color: #206e99 !important;
}
.mt-element-step .step-line .done .mt-step-content, .mt-element-step .step-line .done .mt-step-title {
    color: #206e99!important;
}
.fa-2x {
    font-size: 1.5em !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder{
    border-radius: 5px !important;
}
.btn-group .bootstrap-select .bs-select{
    border-radius: 5px !important;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #F7C53F;
    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #F7C53F;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid
    #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*~~ Mine ~~*/

.welcome-list{
    list-style:none;
}

.welcome-list li{
    margin-bottom:10px;
}

.profile-usermenu .btn{
    text-align:center;
}

.form-control,
.select2-selection{
    border-radius:3px !important;
}

.btn-sem-bordar,
.btn-sem-bordar:focus,
.btn-sem-bordar:active{
    padding:0px !important;
    background:transparent !important;
    border:none !important;
    outline:none !important;
    margin-left:20px !important;
}

.btnCategoriaSelecaoSub{
    border-radius: 0px !important;
}
/*~~ Alerts ~~*/

.sweet-alert .sa-icon{
    display:none !important;
}

/*.sweet-alert h2{*/
    /*font-family: Roboto;*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    /*text-align: left;*/
    /*color: #be4b59;*/
    /*margin:0px;*/
/*}*/

/*.sweet-alert p{*/
    /*font-family: Roboto;*/
    /*font-size: 16px;*/
    /*text-align: left;*/
    /*color: #404040;*/
    /*margin:0px;*/
/*}*/

.sa-button-container{
    text-align:right;
}

.sa-button-container button{
    background:transparent !important;
    border:none;
    outline:none;
    padding:0px;
    margin-left:20px;
    font-family: Roboto;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    color: #404040;
}

.no-padding-rg{
    padding-right: 0 !important;
}

.col-md-15{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}

.col-md-15{
    float: left;
}

.col-md-15{
    width: 12.5%;
}