@import url('https://fonts.googleapis.com/css?family=Roboto');

td.details-control {
    /*background: url('/img/app/ic_keyboard_arrow_right_black_24px.svg') no-repeat center center;*/
    cursor: pointer;
}
tr.shown td.details-control {
    /*background: url('/img/app/ic_keyboard_arrow_down_black_24px.svg') no-repeat center center;*/
}
.quick-nav.nav-is-visible + .quick-nav-overlay {
    background: #ffffff !important;
    display: block;
    -webkit-transition: background .7s ease-out;
    -moz-transition: background .7s ease-out;
    -o-transition: background .7s ease-out;
    transition: background .7s ease-out;
    opacity: 0.8 !important;
}
.table-user {
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
}

.table-user-pequena {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
}


.panel-refresh-layer {
    position: fixed;
    left: 0px;
    top: 0px;
    background: #FFF;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    z-index: 3;
    font-size: 21px;
    width: 100% !important;
    height: 100% !important;
}
.panel-refresh-layer img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}



.font-color-servme{
    color: #6A6A6A;
}
html{
    height:100% !important;
}
body.login {
    font-family: 'Roboto', sans-serif;
    /*background: url('/img/bg-login-web.png') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.login{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    height: 50% !important;
}
.mt-element-step .step-line .mt-step-number {
    border: 3px solid #206e99;
    background-color: #206e99;
}

.painel-login {
    /*background: url('/img/app/bg_login_web.png')  no-repeat center center fixed !important;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.Rectangle {
    width: 655px;
    height: 474px !important;
    border-radius: 10px !important;
    background-color: #2d2d2d !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 2px 4px 0 rgba(0, 0, 0, 0.12) !important;
    position: absolute;
    padding:0px 40px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.logo{
    object-fit: contain;
    margin-top: 58px;
    height: 99px;
    width: 308px !important;

}

.btn-warning {
    color: #fff;
    font-weight:500 !important;
    background-color: #206e99;
    border-color: #206e99;
    height: 48px !important;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);*/
}

.btn-default {
    color: #fff;
    font-weight:500 !important;
    background-color: #9b9b9b;
    border-color: #9b9b9b;
    height: 48px !important;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);*/
}

.btn-warning.active, .btn-warning:active, .btn-warning:hover, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #1f5279;
    border-color: #1F5279;
}

.btn-default.active, .btn-default:active, .btn-default:hover, .open > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: #797979;
    border-color: #797979;
}

.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #1f5279;
    border-color: #1F5279;
}

.mt-element-step .step-line .mt-step-number {
    /*font-size: 20px;*/
    border-radius: 50% !important;
    display: inline-block;
    margin: auto auto 12px;
    padding: 0!important;
    height: 30px;
    width: 30px;
}

.mt-element-step .step-line .mt-step-title:after, .mt-element-step .step-line .mt-step-title:before{
    background:#206e99 !important;
}

.mt-step-col.last{
    margin-left:-1px;
}

.mt-element-step .step-line .mt-step-title {
    font-size: 16px;
    font-weight: 800;
    position: relative;
    color: #206e99;
}

.font-gray-cascade {
    color: #206e99;
    opacity: 0.5 !important;
}

.btn{
    border-radius: 2px !important;
    height: 48px !important;
}
.btn-danger {
    color: #fff;
    background-color: #BE4B59;
    border-color: #BE4B59;
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #BE4759 !important;
    border-color: #BE4759 !important;
}
.btn-danger.active, .btn-danger:active, .btn-danger:hover, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #BE4759 !important;
    border-color: #BE4759 !important;
}
.btn-link {
    font-weight: 500;
    text-align: left;
    color: #2d2d2d;
    border-radius: 0;
}
.btn-link:focus, .btn-link:hover {
    color: #2d2d2d;
    text-decoration: solid;
    background-color: transparent;
}

/*~~ Mine ~~*/

body{
    padding-top:30px;
}

/*~~ Portlet ~~*/

.portlet.type-01.light .portlet-title{
    padding:10px 20px;
}

.portlet.type-01.light .portlet-body .tab-content .tab-pane .table,
.portlet.type-01 .portlet-title.default{
    margin:0px;
}

.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .table tbody tr:first-child td,
.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .table tbody tr:first-child td:not(:first-child){
    border:none;
}

.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .table tbody tr td.table-image{
    width:60px;
    padding-right:0px;
}

.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .table tbody tr td:first-child{
    border:none;
}

.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .table tbody tr td:not(:first-child){
    border:none;
    padding:10px 0px;
    border-top:0.5px solid #d7d7d7;
}

.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane,
.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .mt-actions,
.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .mt-actions .mt-action,
.portlet.type-01.light.novos-usuarios .portlet-body .tab-content .tab-pane .mt-actions .mt-action .mt-action-body,
.portlet.type-01.light.novos-usuarios .portlet-body{
    padding:0px 0px;
}

.portlet.type-01 .portlet-title.default{
    background:#f7f7f7;
    padding:0px;
}

.portlet.type-01 .portlet-title.primary{
    background:#fff;
    padding:0px;
}

.portlet.type-01 >.portlet-title.has-tabs>.caption{
    width:100%;
    padding:20px 10px;
}

.portlet.type-01 .portlet-title.default .nav-tabs li{
    padding:0px 0px;
}

.portlet.type-01 .portlet-title.default .nav-tabs li a{
    padding:10px 20px;
}

.portlet.type-01.light.agendamento .portlet-title,
.portlet.type-01.light.avaliacoes .portlet-title{
    margin-bottom:0px;
}

.portlet.usuario-admin .portlet-title h3{
    margin:0px;
}

.portlet.meu-perfil .portlet-title,
.portlet.usuario-admin .portlet-title{
    padding:20px 5px;
    display: flex;
    align-items: baseline;
    background:#f6f6f6;
    margin-bottom:0px;
    border-bottom:2px solid #e7ecf1 !important;
}

.portlet.meu-perfil .portlet-title{
    margin-bottom:10px;
}

.portlet.meu-perfil .portlet.white .portlet-title{
    padding:0px;
}

.portlet.meu-perfil .portlet.white .portlet-body .text-right{
    padding-right:10px;
}

.portlet.meu-perfil .portlet.white .portlet-body .table{
    margin-bottom:0px !important;
}

.portlet.usuario-admin .portlet-title > div{
    padding:0px;
}

.portlet.usuario-admin .portlet-title .btn{
    margin-left:10px;
    vertical-align:baseline;
}

.portlet.meu-perfil .portlet-body{
    padding:0px;
}

.portlet.meu-perfil > .portlet-body > .row{
    margin:0px;
}

.portlet.white .portlet-title{
    background:#fff;
}

.portlet.type-03 .portlet-title{
    background:#f7c53f;
}

.portlet .portlet-title.no-margin{
    margin:0px !important;
}

.portlet .portlet-body{
    padding:20px 20px;
}

.portlet .portlet-body .image{
    width:100%;
    overflow:hidden;
}

.portlet .portlet-body .image img{
    width:100%;
    border-radius:5px;
}

/*~~ Portlet ~~*/

/*~~ Star ~~*/

.stars{
    list-style:none;
    font-size:20px;
    padding:0px;
    margin:0px;
    display:flex;
    justify-content:flex-end;
    flex-direction:row-reverse;
    /*color:#f5a623;*/
}

.stars.sm{
    font-size:11px;
}

.stars li.active,
.stars li.active .fa,
.stars li.active ~ li,
.stars li.active ~ li .fa,
.stars li.active ~ li:after {
    color:#f5a623;
    transition:0.3s;
}

/*~~ Star ~~*/

/*~~ Table ~~*/

.table tbody tr td:last-child{
    text-align:right;
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #6a6a6a;
}

.table tbody tr td:last-child .fa-trash{
    cursor:pointer;
}

.table .flex-column{
    display:flex;
    flex-direction:column;
}

.table.border-bottom{
    margin-bottom:10px !important;
}

.table.border-bottom td{
    border-top:none;
    border-bottom:1px solid #d7d7d7;
}

.table tbody tr td .semi-bold{
    font-weight:500;
}

.table.address tbody tr td{
    padding:2px;
    border:none;
}

.table.address tbody tr td small{
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #6a6a6a;
}

.table.address tbody tr td:last-child{
    text-align:left;
}

.table.sm tbody tr td,
.table.sm tbody tr th{
    height:40px;
    vertical-align:middle;
}

.table.all-left thead tr th,
.table.all-left thead tr td,
.table.all-left tbody tr td{
    text-align:left;
}

.table small{
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #6a6a6a;
}

.table strong{
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.table .aSimulate{
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #6a6a6a;
    cursor:pointer;
}

.table .aSimulate:hover{
    text-decoration:underline;
}

/*~~ Table ~~*/

/*~~ Button ~~*/

.btn.type-01{
    padding:10px 20px;
}

.text-right{
    text-align:right;
}

/*~~ Menu ~~*/

.info{
    width:100%;
    padding:0px 10px 0px 10px;
    margin:0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.info > div{
    padding:0px;
}

.info .user{
    display:flex;
    align-items:center;
}

.info .image{
    border:5px solid #f7c53f;
    margin-right:40px;
    margin-bottom:-30px;
}

.info .image{
    width:100px;
    height:100px;
    border-radius:50% !important;
    overflow:hidden;
}

.info .image img{
    width:100%;
}

.info h4{
    /*text-align:left;*/
    vertical-align:center;
}

.menu{
    background:#f7c53f;
    text-align:left;
    padding:0px;
    margin:0px;
}

.menu a{
    cursor:pointer !important;
}

.menu li:not(:first-child),
.menu li a{
    color:#fff !important;
    display:inline-block;
    text-align:left;
    float:right;
    background:transparent;
}

.menu > li:first-child{
    color:#333 !important;
    display:inline-block;
    padding:10px 0px;
    text-align:left;
    float:right;
    background:transparent;
}

.menu li{
    display:inline-block;
}

.menu > li:first-child{
    float:left !important;
    margin-left:135px;
    display:inline-block;
    background:transparent;
}

.menu > li a:first-child{
    display:inline-block;
    background:transparent;
}

.menu > li,
.menu > li a,
.menu > li.active a,
.menu > li.active:hover a,
.menu > li.active a:hover,
.menu > li.active a:focus,
.menu > li.active:focus a,
.menu .dropdown.open .dropdown-toggle{
    background:transparent;
    border:none;
}

.menu .dropdown.open .dropdown-menu{
    display:flex !important;
}

.menu .dropdown-menu{
    left:-85px;
    position:absolute;
    /*flex-direction: column;*/
    /*align-items:center;*/
    /*justify-content:flex-start;*/
    /*text-align:left;*/
    width:auto;
}

.menu .dropdown>.dropdown-menu:after{
    left:150px;
}

.menu .dropdown>.dropdown-menu:before{
    left:149px;
}

.menu .dropdown>.dropdown-menu a{
    color:#6a6a6a !important;
}

.menu .dropdown>.dropdown-menu li{
    display:block;
    width:100%;
}

.menu .dropdown>.dropdown-menu li:hover{
    background:#f6f6f6;
}

.usuario-profissional .portlet-title,
.usuario-cliente .portlet-title{
    margin-bottom:30px !important;
}

.usuario-profissional .portlet-body,
.usuario-cliente .portlet-body{
    padding-top:0px !important;
}

.usuario-profissional .portlet-title,
.usuario-cliente .portlet-title{
    padding:10px 20px !important;
}

.usuario-profissional .portlet-title h3,
.usuario-cliente .portlet-title h3{
    margin:0px;
}

.usuario-cliente .portlet-title{
    background:#f6f6f6 !important;
}

.usuario-profissional .portlet-title small,
.usuario-cliente .portlet-title small{
    font-size: 15px;
    letter-spacing: 0.8px;
    color: #2d2d2d;
}

.usuario-profissional .portlet-title small .fa,
.usuario-cliente .portlet-title small .fa{
    font-size: 14px;
    color: #262626;
    cursor:pointer;
    margin-left:-30px;
    margin-right:13px;
}

/*~~ Filters ~~*/

.filters{
    background:#f6f6f6;
    border-bottom:1px solid #afafaf;
    padding:15px 0px;
}

.filters .row{
    margin:0px;
}

.filters .row > div {
    align-items:center;
}

.filters .row > .flex span,
.filters .row > .flex span strong{
    white-space:nowrap;
    margin-right:20px;
}

.filters .row > div .form-control{
    width:50%;
    margin-left:10px;
}

/*~~ Utilities ~~*/

.clear{
    clear:both;
}

.m-r-31{
    margin-right:31px
}

.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.flex{
    display:flex;
}

.flex-column{
    display:flex;
    flex-direction:column;
}

.full{
    width:100%;
    height:100%
}

.p-top-20{
    padding-top:20px !important;
}

.p-h-10{
    padding-left:10px !important;
    right:10px !important;
}

.none{
    display:none !important;
}

.row.original{
    margin:0px -15px;
}

.row.no-margin{
    margin:0px;
}

.table.no-margin{
    margin:0px;
}

.m-v-15{
    margin:15px 0;
}

.list-block{
    display:flex;
    flex-direction:column;
}

.portlet-body.no-padding{
    padding:0px;
}

.btn-none{
    padding:0px !important;
    margin:0px !important;
    height:initial !important;
}

.blue{
    color:#1f69bf;
}

/*~~ Accordion ~~*/

.panel-default>.panel-heading{
    background:transparent;
}

.panel-group{
    margin-bottom:0px;
}

.panel-group .panel{
    margin-bottom:-6px;
}

/*~~ Actions ~~*/

.actions{
    text-align:right;
    vertical-align:baseline;
    margin:0px !important;
    padding:0px !important;
}

.actions li{
    display:inline-block;
    cursor:pointer;
}

.actions li .danger,
.actions li .info{
    background:transparent;
    padding:0px;
    vertical-align:baseline;
    font-size:18px;
    margin-left:10px;
}

.actions li .danger.sm,
.actions li .info.sm{
    padding:0px;
}

.actions li .danger{
    color:#BE4B59;
}

.actions li .info{
    color:#5bc0de;
}

.btn.danger,
.btn.info{
    background:transparent;
    padding:0px;
    vertical-align:baseline;
    font-size:18px;
    margin-left:10px;
}

.btn.danger.sm,
.btn.info.sm{
    padding:0px;
    height:0px !important;
}

.btn.danger{
    color:#BE4B59;
}

.btn.info{
    color:#5bc0de;
}

/*~~ Modal Button ~~*/

.btn-modal{
    padding:0px 10px;
    margin:0px 0px 0px 0px;
    outline:none;
    border:none;
    background:transparent;
    text-transform:uppercase;
}

.btn-modal.bold{
    font-weight:bold;
}

.btn-modal.danger{
    color:#be4b59;
}

.btn-modal.dark{
    color:#404040;
}

.btn-modal.blue{
    color:#1f69bf;
}

.btn-list .btn{
    margin-left:10px;
}

/*~~ Modal ~~*/

/*~~ Fields ~~*/

.form-group.md{
    margin-bottom:40px;
}

.upload.md{
    text-align:right;
    width:132px;
    height: 132px;;
    border-radius:3px !important;
    border:1px solid #ababab;
    cursor:pointer;
}

.upload.md .fa{
    font-size:24px;
    color:#ababab;
}

/*~~ List Group ~~*/

.list-group::-webkit-scrollbar{
    width:0px;
}

.list-group .list-group-item:hover,
.list-group .list-group-item.active{
    background:#f7c53f;
}

/*~~ Stars ~~*/

.stars{
    list-style:none;
    float:left;
    font-size:12px;
    display:flex;
    flex-direction:row-reverse;
    /*color:#f5a623;*/
}

.stars .star.active,
.stars .star.active .fa,
.stars .star.active ~ .star,
.stars .star.active ~ .star .fa,
.stars .star.active ~ .star:after {
    color:#f5a623;
    transition:0.3s;
}

.stars .btn{
    margin-top:-12px;
}

.header-fixed{
    /*position: fixed;*/
    background-color: #fafafa;
    padding: 20px 0;
    width: 100%;
    z-index: 9;
}

.index{
    color: #ba3c3c;
    font-weight: 600;
}

.form-control:focus {
    border-color: #B93B3B;
}

.custom-panel.open .servico{
    border-radius:0px !important;
    border-top-right-radius:3px !important;
    border-top-right-radius:3px !important;
    background:#206e99;
}

.custom-panel.open .servicos{
    display:block;
}

.custom-panel.open .servico h4,
.custom-panel.open .servico:hover h4{
    color:#fff;
}

.servico{
    width: 100%;
    padding: 8px 0;
    border-radius: 3px !important;
    text-align: center;
    background-color: transparent;
    border: solid 1px #206e99;
    color: #206e99;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
}

.servico h4{
    color:#206e99;
    margin:0px;
    text-align:center;
    font-weight:bold;
}

.servicos{
    border:1px solid #206e99;
    padding:10px;
    display:none;
}

.servicos p{
    margin:0px;
}

.servico:hover h4{
    color:#fff;
}

.removerTurn{
    width: 100%;
    padding: 5px 0;
    border-radius: 3px !important;
    text-align: center;
    background-color: transparent;
    border: solid 1px #BE4B59;
    color: #BE4B59;
    font-size: 14px;
    font-weight: 400;
}

.removerTurn:hover{
    background-color: #8e4647;
    border: solid 1px #8e4647;
    color: #fff;
}

.link-servico:hover, .link-servico:focus{
    text-decoration: none;
}

.servico:hover{
    background-color: #206e99;
    color: #fff;
    font-weight: 500;
}

label{
    font-size: 16px;
}

.bancos{
    padding-left: 20px;
}

.banco {
    height: 40px;
    margin: 10px 10px 5px 0;
    border: 1px solid #9b9b9b;
    padding: 3px;
    opacity: 0.5;
}

.active, .banco:hover {
    border: 1px solid #ba3c3c;
    opacity: 1;
}

.confere .col-md-6{
    margin-bottom: 10px !important;
}

.pessoa{
    border: 1px solid #206e99;
    border-radius: 2px !important;
    margin-right: -2.5px;
    color: #206e99;
    padding: 5px 10px;
    min-width: 100px;
    height: auto !important;
    font-size: 16px;
    background-color: #fff;
}

.pessoa:last-child{
    margin-left: -2.5px;
}

.pessoa:hover,
.pessoa:active{
    border: 1px solid #206e99;
    color: #fff;
    background-color: #206e99;
}
.pessoaAct,
.pessoaAct:active,
.pessoaAct:focus{
    border: 1px solid #206e99;
    color: #fff;
    background-color: #206e99;
}

/*~~ Modal ~~*/

.modal.type-01 .modal-body{
    padding:30px 50px;
}

.radio{
    display:none;
}

.radio + label{
    width:20px;
    height:20px;
    border-radius:50% !important;
    border:2px solid #ba3c3c;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.3s;
    cursor:pointer;
}

.radio:checked + label .checked{
    width:12px;
    height:12px;
    border-radius:50% !important;
    background:#ba3c3c;
    transition:0.3s;
}

.radio + label span{
    white-space: nowrap;
    position: absolute;
    left: 80px;
    margin-top: 3px;
}




.checkbox-content{
    margin-bottom:10px;
}

.checkbox{
    display:none;
}

.checkbox + label{
    width:20px;
    height:20px;
    border-radius:4px !important;
    border:2px solid #ba3c3c;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.3s;
    cursor:pointer;
}

.checkbox:checked + label{
    background:#ba3c3c;
}

.checkbox:checked + label:after{
    content:"✔";
    position:relative;
    top:2px;
    left:0px;
    color:#fff;
}

.checkbox + label span{
    white-space: nowrap;
    position: absolute;
    left: 40px;
    margin-top: 3px;
}